{{! Genre Results Page}}

{{> header}}

<h1>{{genreName}}</h1>
<div>
    {{#each genreAnimeList}}
        <a href="/details?animeId={{this.mal_id}}"><img src="{{this.images.jpg.image_url}}" alt="{{this.animeTitle}}" width="150"></a>
        <a href="/details?animeId={{this.mal_id}}"><p>{{this.animeTitle}}</p></a>
    {{/each}}
</div>

{{> footer}}