{{!Home Page}}

<header>
  <div class="home-navbar">
    <a class="site-logo" href="/">
      AnimeFind
    </a>
    {{#if isLoggedIn}}
      <a href="/watchlist">Watchlist</a>
      <a href="/api/logout">Logout</a>
    {{else}}
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    {{/if}}
  </div>
  <div class="hero-section">
    {{#if isLoggedIn}}
      <div>
        <h1>Welcome Back!</h1>
        <p>Your watchlist awaits</p>
      </div>
    {{else}}
      <div>
        <h1>Discover the stories waiting for you</h1>
        <p><a href="/login">Log in</a> or <a href="/signup">sign up</a> to keep track of your favorites</p>
      </div>
    {{/if}}
  </div>
</header>

<main>
  <section class="home-content">
    <section class="popular">
      <div class="sub-header">
        <hr class="horizontal-line">
        <h2>Popular</h2>
        <hr class="horizontal-line">
      </div>
      <p>Dive into the anime world’s biggest hits. These top-ranked series are making waves across the globe</p>
      <div class="popular_container">
        {{#each popularAnime}}
           <div class="popular_card">
            <a href="/details?animeId={{this.mal_id}}"><img src="{{this.images.jpg.image_url}}" alt="{{this.animeTitle}}"></a>
            <a href="/details?animeId={{this.mal_id}}"><p>{{this.animeTitle}}</p></a>
          </div>
        {{/each}}
      </div>
    </section>

    <section class="genres">
      <div class="sub-header">
        <hr class="horizontal-line">
        <h2>Genres</h2>
        <hr class="horizontal-line">
      </div>
      <p>Click the buttons below to browse anime by genre and discover hidden gems</p>
      <div class="genre-links">
        <a href="/genres?genre=1">Action</a>
        <a href="/genres?genre=2">Adventure</a>
        <a href="/genres?genre=46">Award Winning</a>
        <a href="/genres?genre=4">Comedy</a>
        <a href="/genres?genre=8">Drama</a>
        <a href="/genres?genre=10">Fantasy</a>
        <a href="/genres?genre=47">Gourmet</a>
        <a href="/genres?genre=14">Horror</a>
        <a href="/genres?genre=7">Mystery</a>
        <a href="/genres?genre=22">Romance</a>
        <a href="/genres?genre=25">Shoujo</a>
        <a href="/genres?genre=27">Shounen</a>
        <a href="/genres?genre=36">Slice of Life</a>
        <a href="/genres?genre=30">Sports</a>
      </div>
    </section>

    <section class="search">
      <h2>Know what you're looking for?</h2>
      <p>Use the search bar below to find the story that matters to you</p>
      <form class="search-form" action="/search-results" method="GET">
        <input name="q" type="text" placeholder="Anime Name" required minlength="5">
        <button type="submit">Search</button>
      </form>
    </section>
  </section>
 
</main>

{{> footer}}