{{!Watchlist page}}
<header>{{> header}}</header>

<main>
  <div class="watchlist-content">
    <h1 class="watchlist-heading">My Watchlist</h1>
    <div class="watchlist-container">
      {{#if watchlistData.length}}
        {{#each watchlistData}}
          <div class="watchlist-card">
            <a href="/details?animeId={{this.mal_id}}"><img src="{{this.image}}" alt="{{this.title}}" width="150"></a>
            <a href="/details?animeId={{this.mal_id}}">{{this.title}}</a>
            <form action="/api/private/delete/{{this._id}}" method="POST" style="display:inline;">
              <button type="submit">Remove</button>
            </form>
          </div>
        {{/each}}
        {{else}}
          <p>Your watchlist is empty</p>
      {{/if}}
    </div>
  </div>
  

  
</main>

{{>footer}}
